body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  // position: relative;
}
.container {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: auto;
  //   width: 60%;
  text-align: center;
  //   position: absolute;
  //   top: 50%;
  //   left: 50%;
  //   transform: translate(-50%, -50%);
}
