<input class="form-control" (keyup.enter)="createPost(eve)" #eve />
<div class="product-list">
  <div class="product" *ngFor="let user of userData">
    <img
      src="https://images.unsplash.com/photo-1567581935884-3349723552ca?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8bW9iaWxlfGVufDB8fDB8fA%3D%3D&w=1000&q=80"
    />
    <h4>{{ user.title }}</h4>
    <p>{{ user.body }}</p>
    <button (click)="editPost(user)">Edit</button>
    <button (click)="deletPost(user)">Delete</button>
  </div>
</div>
