.register{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: auto;
    gap: 10px;
    padding: 40px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #43919B;
    margin-top: 20px;
}